//colors
$bgcolor: #21201E;
$linecolor: #934633;
$fontcolor: #fafafa;
$footercolor: #21201E;

//mask color
$maskcolor: rgba(33, 32, 30, 0.35);

//button color
$buttonBgColor: #D7753B;
$buttonFontColor: #AAB4B3;